/* Header container */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-green);
    padding: 10px 20px;
    color: white;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo section */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px; /* Adjust the logo size */
    height: auto;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5em;
    font-weight: bold;
}

.logo-image {
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the spacing as needed */
}

/* Auth options (Sign In / Sign Up buttons) */
.auth-options {
    display: flex;
    gap: 10px;
}

.auth-button {
    padding: 8px 16px;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1em;
    color: var(--primary-green);
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.auth-button:hover {
    background-color: var(--secondary-green);
    color: white;
}

/* Different style for the Sign Up button */
.register-button {
    background-color: var(--secondary-green);
    color: white;
}

.register-button:hover {
    background-color: white;
    color: var(--primary-green);
}
